version: "3"

services:

  app:
    container_name: outfittr
    restart: always
    build: .
    ports:
      - '3000'
    links:
      - mongo
      
  mongo:
    container_name: mongo
    image: mongo
    ports:
      - "27017:27017"